<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Insurance</title>
    <link rel="stylesheet" href="../Downloaded Web Sites/fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="card">
        <nav>
            <div class="icon">
                <a href="#"><i class="fa-light fa-circle-dashed" style="color:#FF0000"></i></a>
            </div>
            <div class="nav-items">
                <a href="#">Home</a>
                <a href="#">Services<i class="fa-solid fa-chevron-down"></i></a>
                <a href="#">About us</a>
                <a href="#">Blog</a>
                <a href="#">Career</a>
            </div>
            <div class="nav-support">
                <a href="#">Contact us</a>
                <a href="#"><i class="fa-light fa-key-skeleton"></i> Login</a>
            </div>
        </nav>
        <main>
            <section class="landing-grid">
                <div class="landing-text">
                    <p>Darcy's insurance products</p>
                </div>
                <div class="landing-description-1">
                    <i class="fa-solid fa-circle-check"></i>
                    <p>Our plans are saving policyholders 30% - 60% on premiums </p>
                </div>
                <div class="landing-description-2">
                    <i class="fa-solid fa-circle-check"></i>
                    <p>We offer a choice of low dedacitibles and include no cost value-added services</p>
                </div>
                <div class="landing-image">
                    <img src="../images/hot-air-balloon.jpeg" alt="hot-air-balloon">
                </div>
            </section>

            <section class="insurance-grid">
                <div class="insurance-item-1">
                    <img src="../images/house-furniture.jpg" alt="house-furniture" />
                    <p>Home Insurance</p>
                </div>
                <div class="insurance-item-2">
                    <img src="../images/swimming-tube.jpeg" alt="swimming-tube" />
                </div>
                <div class="insurance-item-3">
                    <p>Best choice</p>
                    <p>Not all insurances are the same. That's why agency knows that your insurance should be customized
                        to fit your situation.</p>
                    <p>View all services</p>
                </div>
                <div class="insurance-item-4">
                    <img src="../images/car.jpg" alt="car" />
                    <p>Vehicle damages</p>
                </div>
                <div class="insurance-item-5">
                    <img src="../images/house.jpg" alt="house" />
                    <p>Mortgage insurance</p>
                </div>
                <div class="insurance-item-6">
                    <img src="../images/medicines.jpeg" alt="medicines" />
                    <p>Medical insurances</p>
                </div>
            </section>
            <div class="div-wrapper">
                <section class="experts-grid">
                    <div class="expert-card">
                        <div class="client-img">
                            <img src="../images/working-woman-3.jpg" alt="working-woman1">
                        </div>
                        <div class="client-info">
                            <h1>Georgia Darcy</h1>
                            <p>The agency founder</p>
                            <p>With over twenty years of industry experience, 'Darcy's insurance products' has learnt a
                                lot.
                                The one thing we know for sure is that we are all about you.If you find searching for
                                insurance frustrating, we are here to help you.</p>
                            <p>Get a consultation</p>
                        </div>
                    </div>
                    <div class="client-info-title">
                        <i class="fa-solid fa-circle-check"></i>
                        <p>Our experts say</p>
                    </div>
                </section>
                <div class="dots">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>

            <section class="support-grid">
                <div class="support-item-1">
                    <p>Support <br> at every <strong>Step</strong></p>
                </div>
                <div class="support-item-2">
                    <i class="fa-solid fa-circle-check"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum perferendis ab eum placeat sint
                        minima cupiditate blanditiis velit numquam fuga omnis adipisci iure sunt recusandae fugit nihil
                        quae, facilis ut.
                    </p>
                    <i class="fa-solid fa-circle-check"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum perferendis ab eum placeat sint
                        minima cupiditate blanditiis velit numquam fuga omnis adipisci iure sunt recusandae fugit nihil
                        quae, facilis ut.
                    </p>
                    <p>Choose a fund</p>
                </div>
                <div class="support-item-3">
                    <img src="../images/happy-family.jpg" alt="happy-family">
                </div>
            </section>
        </main>
    </div>
</body>

</html>