<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Website</title>
    <link rel="stylesheet" href="./Downloaded Web Sites/fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="card">
        <nav>
            <div class="icon">
                <a href="#"><i class="fa-light fa-circle-dashed" style="color:#FF0000"></i></a>
            </div>
            <div class="nav-items">
                <a href="#">Home</a>
                <a href="#">Services<i class="fa-solid fa-chevron-down"></i></a>
                <a href="#">About us</a>
                <a href="#">Blog</a>
                <a href="#">Career</a>
            </div>
            <div class="nav-support">
                <a href="#">Contact us</a>
                <a href="#"><i class="fa-light fa-key-skeleton"></i> Login</a>
            </div>
        </nav>

        <main>
            <section id="landing">
                <article>
                    <p>Darcy's insurance products</p>
                </article>
                <div>
                    <article>
                        <i class="fa-solid fa-circle-check" style="color: #fff;"></i>
                        <p>Our plans are saving policyholders 30% - 60% on premiums </p>
                    </article>
                    <article>
                        <i class="fa-solid fa-circle-check" style="color: #fff;"></i>
                        <p>We offer a choice of low dedacitibles and include no cost value-added services</p>
                    </article>
                </div>
                <article>
                    <img src="../template/images/hot-air-balloon.jpeg" alt="hot-air-balloon">
                </article>
            </section>

            <!-- <section id="insurance">
                <div class="insurance-item-1">
                    <img src="./images/house-furniture.jpg" alt="house-furniture">
                    <p>Home Insurance</p>
                </div>
                <div class="insurance-item-2">
                    <img src="./images/swimming-tube.jpeg" alt="swimming-tube">
                </div>
                <div class="insurance-item-3">
                    <h2>Best Choice</h2>
                    <p>Not all insurance are the same. That's why agency knows that your insurance should be customized
                        to fit your situation.</p>
                    <p>View all services</p>
                </div>
                <div class="insurance-item-4">
                    <img src="./images/car.jpg" alt="car">
                    <p>Vehicle damage</p>
                </div>
                <div class="insurance-item-5">
                    <img src="./images/house.jpg" alt="house">
                    <p>Mortgage insurance</p>
                </div>
                <div class="insurance-item-6">
                    <img src="./images/medicines.jpeg" alt="medicines">
                    <p>Medical expenses</p>
                </div>
            </section> -->
        </main>
    </div>
    <script src="https://kit.fontawesome.com/157d918f65.js" crossorigin="anonymous"></script>
</body>

</html>